#hosteles-list{
    width: 80%;
    margin:auto;
    .card{
        .hostel-img{
            width:300px;
            height: 300px;
        }
    }
    
}
#selected-hostel-details{
    width: 80%;
    margin:auto;
    // .card{
    //     max-width: 100%;
    // }
}
